.header {
  padding: 15px 20px;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--text-color);
  ul {
    li {
      margin-right: 25px;
      a {
        transition: 0.2s opacity;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
