.vp {
    min-height: 650px;
    background: url("https://images.pexels.com/photos/9214286/pexels-photo-9214286.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center;
    background-size: cover;
    text-align: center;
}

.vpContent {
    max-width: 600px;
    padding: 20px;
    padding-top: 150px;
    color : white;
    display: block;
    margin: auto;
    h2{
        font-size: 3.5rem;
    }
    p{
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 1.9em;
        margin-top: 20px;
    }
    .seperator {
        margin: 20px auto;
        height: 10px;
        width: 100px;
        background: white;
    }
}

